<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Sandbox</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Vue Sandbox</h1>
  <div id="app">

    <a :href="url">Great UX Design</a>
    <br>
    <hr>

    <div @click="toggleShowBooks">
      <button v-if='showBooks'>Hide Books</button>
      <button v-else>Show Books</button>
    </div>

    <div v-if="showBooks">
      <ul>
        <li v-for="book in filteredBooks" :class="{fav: book.isFav}" @click="toggleIsFav(book)">
          <img :src="book.img" :alt="book.title">
          <h4>{{ book.title }}</h4>
          <p>{{ book.author }}</p>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li v-for="book in books" :class="{fav: book.isFav}" @click="toggleIsFav(book)">
          <img :src="book.img" :alt="book.title">
          <h4>{{ book.title }}</h4>
          <p>{{ book.author }}</p>
        </li>
      </ul>
    </div>

    <hr>
    <!-- mouse events -->
    <div class="box" @mouseover="handleEvent($event, 5)">mouseover</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">doubleclick</div>
    <div class="box" @mousemove="handleMouseMove">mousemove - {{x}}, {{y}}</div>

  </div>
  <script src="app.js"></script>
</body>
</html>
